.media{
    height: 15rem;
    background-color: white;
}

.MuiPaperRounded{
    border-radius: 15px !important;
}

.Link{
    text-decoration: none;
    color: #434343;
}
.cardTitle{
    text-transform: uppercase;
}
.root1{
    width: 21rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 20px;
    transition: transform 0.8s;
}

.root1:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.root1::before{
    content: "Tomorrow";
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.root2{
    width: 21rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 20px;
    transition: transform 0.8s;
}

.root2:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.root2::before{
    content: "Overmorrow";
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.root3{
    width: 21rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 20px;
    transition: transform 0.8s;
}

.root3:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.root3::before{
    content: "2 Days Later";
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.root4{
    width: 21rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 20px;
    transition: transform 0.8s;
}

.root4:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.root4::before{
    content: "3 days later";
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.root5{
    width: 21rem;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 20px;
    transition: transform 0.8s;
}

.root5:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.root5::before{
    content: "4 days later";
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}