.header{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Link{
    text-decoration: none;
    color: white;
  }